
@import '../abstract/variable';
@import '../abstract/mixins';
*,
*::afer,
*::before{  
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:10px;
    min-height:100vh;
}

body{
    background-color:#fff;
    font-family: 'Raleway', sans-serif;    box-sizing:border-box;
    margin:0;
    padding:1rem;
}

.title{
    @include title;
}

.subtitle{
    @include subTitle;
}
.text{
    @include text;
}
.details{
    @include details;
}
.line{
    text-align:center;
    & div{
        height: .1rem;
        background-color: rgb(74, 133, 178);
        width: 50%;
        display: inline-block;
        margin-bottom: 2rem;
    }
}