
@import '../abstract/variable';
@import '../abstract/mixins';
*,
*::afer,
*::before{  
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:10px;
    min-height:100vh;
}

body{
    background-color:#fff;
    font-family: 'Raleway', sans-serif;    box-sizing:border-box;
    margin:0;
    padding:1rem;
}

.title{
    @include title;
}

.text{
    @include text;
}
.subtitle{
    @include subTitle;
}