
@import '../abstract/variable';

*,
*::afer,
*::before{  
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:10px;
    min-height:100vh;
}

body{
    background-color:$color-blanco;
    font-family: 'Raleway', sans-serif;    box-sizing:border-box;
    margin:0;
    padding:1rem;
}
