:root {
  --font-family: 'Noto Sans', sans-serif;
  --font-weight-normal:300;
  --font-weight-bold:700;
  --font-size-1:1.6rem;
  --font-size-2:2.2rem;
  --font-size-3:3rem;
  --font-size-4:4rem;
  --color-primario:rgb(41, 41, 128);
  --color-secundario:rgb(25, 102, 161);
  --color-terciario:rgb(16, 172, 105);
  --color-blanco:#fff; }

@keyframes deslizar {
  0% {
    transform: translateX(-200%) skew(20deg); }
  100% {
    transform: translateX(0%) skew(0deg); } }

*,
*::afer,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  height: 100vh;
  width: 100vw; }

body {
  background-color: #F7F7F7;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(41, 41, 128, 0.8), rgba(25, 102, 161, 0.8)), url("../assets/code-image.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 2rem; }
  .header__container-title {
    position: absolute;
    width: calc(100vw / 3);
    left: calc(100vw / 6);
    top: 10rem;
    text-align: center;
    animation: deslizar 2s ease forwards; }
  .header__saludo-1, .header__saludo-2 {
    font-size: var(--font-size-3);
    color: var(--color-blanco);
    display: block;
    font-weight: var(--font-weight-normal);
    text-transform: uppercase; }
  .header__saludo-1 {
    letter-spacing: 1.5rem;
    margin-bottom: 2rem; }
  .header__saludo-2 {
    letter-spacing: 1.2rem; }
  .header__photo {
    clip-path: circle();
    background-color: var(--color-blanco);
    width: calc(100vw / 4);
    height: 20rem;
    position: absolute;
    top: 10rem;
    right: 10rem;
    background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
    background-size: contain;
    background-position: center; }
