@keyframes deslizar {
  0% {
    transform: translateX(-200%) skew(20deg); }
  100% {
    transform: translateX(0%) skew(0deg); } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade_out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

*,
*::afer,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  min-height: 100vh; }

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem; }

.title {
  font-size: 3.8rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: .3rem; }

.text {
  font-size: 2.4rem;
  text-align: justify;
  margin-bottom: 4rem;
  letter-spacing: .2rem; }

.subtitle {
  font-size: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: .3rem; }

.experience {
  margin-bottom: 10rem; }
  .experience__description {
    width: 66rem; }
    .experience__description a {
      display: inline-block;
      transition: transform 0.2s ease;
      text-decoration: none;
      font-weight: 600;
      color: #333; }
    .experience__description a:hover {
      color: #4a85b2;
      background-color: #333;
      transform: rotate(5deg) scale(1.3); }
  .experience__container {
    display: flex;
    justify-content: space-around; }
  .experience__image img {
    width: 70rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(41, 41, 128, 0.8), rgba(25, 102, 161, 0.8)), url("../assets/code-image.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 2rem; }
  .header__container-title {
    position: absolute;
    left: calc(100vw / 2 - 35rem);
    top: 10rem;
    text-align: center;
    transform: translateX(-200%);
    animation: deslizar 2s ease 0.6s forwards; }
  .header__greeting {
    font-size: 3rem;
    color: #f6f7f8;
    display: block;
    font-weight: 300;
    text-transform: uppercase; }
  .header__greeting-1 {
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0.1rem; }
  .header__greeting-2 {
    letter-spacing: 1.2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.1rem; }
  .header__rol {
    letter-spacing: 1.2rem; }

.aboutme__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60vh;
  margin-bottom: 8rem;
  padding-bottom: 2rem; }
  .aboutme__container-info {
    text-align: justify;
    font-size: 2rem;
    padding: 3rem;
    width: 60rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform .3s linear; }
    .aboutme__container-info span {
      font-weight: 600; }
    .aboutme__container-info:hover {
      transform: scale(1.1); }
  .aboutme__container-photo img {
    border-radius: 9.5rem;
    width: 25rem; }

.projects__card {
  height: 17rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .projects__card div {
    margin-bottom: 2rem; }

.projects__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 4rem; }
  .projects__cards__container {
    perspective: 100rem;
    position: relative; }
    .projects__cards__container-card {
      height: 17rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: transform 1s ease; }
      .projects__cards__container-card-back {
        transform: rotateY(180deg);
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center; }
    .projects__cards__container:hover .projects__cards__container-card-front {
      transform: rotateY(180deg); }
    .projects__cards__container:hover .projects__cards__container-card-back {
      transform: rotateY(0); }

.projects__tecnologiesUsed {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .projects__tecnologiesUsed span img {
    width: 4rem; }

@keyframes deslizar {
  0% {
    transform: translateX(-200%) skew(20deg); }
  100% {
    transform: translateX(0%) skew(0deg); } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade_out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.tecnologies {
  margin-bottom: 4rem; }
  .tecnologies__card {
    opacity: 0;
    height: 28rem;
    position: relative;
    padding: 1rem;
    text-align: center; }
    .tecnologies__card span {
      font-size: 2.4rem;
      text-transform: capitalize;
      margin-bottom: 2rem;
      text-align: center;
      letter-spacing: .3rem;
      display: block; }
  .tecnologies__fade_in {
    position: relative;
    animation: fade_in 1s ease forwards; }
  .tecnologies__fade_out {
    position: relative;
    animation: fade_out 1s ease forwards; }
  .tecnologies__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 15rem; }
