@keyframes deslizar{
    0%{
        transform:translateX(-200%) skew( 20deg);
    }
    
    100%{
        transform:translateX(0%) skew( 0deg) ;
    }
} 

@keyframes fade_in{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fade_out{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes scaleRotate{

  to{
    color: #1c74b7;
    background-color: #FFDB70;
    transform: rotate(5deg) scale(1.3);
  }
}  