@mixin title {
    font-size: 3.8rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: .3rem;
}    
@mixin subTitle {
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: .3rem;
    @content
}  

@mixin text {
    font-size: 2.4rem;
    text-align: justify;
    margin-bottom: 4rem;
    letter-spacing: .2rem;
    
}

@mixin details {
    font-size: 1.8rem;
    text-align: justify;
    margin-bottom: 4rem;
    letter-spacing: .2rem;
    
}
