:root{
    --font-family: 'Noto Sans', sans-serif;
    --font-weight-normal:300;
    --font-weight-bold:700;

    --color-primario:rgb(41, 41, 128);
    --color-secundario:rgb(25, 102, 161);
    --color-terciario:rgb(16, 172, 105);
    --color-blanco:#fff;
}

 