:root{
    --font-family: 'Noto Sans', sans-serif;
    --font-weight-normal:300;
    --font-weight-bold:700;

    --color-primario:#2A4899;
    --color-secundario:#1A8989;
    --color-terciario:#E4A62B;
    --color-blanco:#fff;
}

 