@import "../abstract/variable";
@import "../abstract/breakpoints";

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 41, 128, 0.8),
      rgba(25, 102, 161, 0.8)
    ),
    url("https://res.cloudinary.com/fersan/image/upload/v1654382802/ediuqoejbgqmjcy0x9o7.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 10rem;
  @media screen and (max-width: $screen-xxsm) {
    height: 50vh;
  }
  &__container-title {
    position: absolute;
    left: calc(100vw / 2 - 35rem);
    top: 6rem;
    text-align: center;  
    transform: translateX(-200%);
    animation: deslizar 2s ease 0.6s forwards;
    @media screen and (max-width: $screen-sm) {
      left: calc(100vw / 2 - 28rem);
    }
    @media screen and (max-width: $screen-xsm) {
      left: calc(100vw / 2 - 22rem);
    }
    @media screen and (max-width: $screen-xxsm) {
      left: calc(100vw / 2 - 17rem);
    }
  }
  &__greeting {
    font-size: $font-size-3;
    color: $color-blanco;
    display: block;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }
  &__greeting-1 {
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0.1rem;
  }
  &__greeting-2 {
    letter-spacing: 1.2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.1rem;
  }
  &__rol {
    letter-spacing: 1.2rem;
  }
  &__greeting-1,
  &__greeting-2,
  &__rol {
    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-cellphone-lg;
    }
    @media screen and (max-width: $screen-xsm) {
      font-size: $font-size-cellphone-md;
    }
  }
  &__upButton {
    align-items: center;
    background-color: darken($color-amarillo, 15%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 5rem;
    justify-content: center;
    left: calc(100vw - 10rem);
    opacity: 0;
    position: fixed;
    top: calc(100vh - 10rem);
    transition: opacity 0.5s ease;
    width: 5rem;
    z-index: 50;
    & img {
      width: 2rem;
      filter: invert(87%) sepia(99%) saturate(0%) hue-rotate(263deg)
        brightness(109%) contrast(97%);
    }
    &:hover {
      background-color: darken($color-amarillo, 20%);
    }
    &-active {
      opacity: 1;
    }
    @media screen and(max-width:$screen-xxsm) {
      left: calc(100vw - 8rem);
    }
  }
}
