.header{
    background-image:linear-gradient(to right bottom,rgba(41,41,128,0.8), rgba(25, 102, 161, 0.8)), url('../assets/code-image.jpg');
    height:70vh;   
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    margin-bottom:2rem;
    &__container-title{ 
        position:absolute;
        width:calc(100vw / 3);
        left:calc(100vw / 6 );
        top:10rem;
        text-align:center;   
        transform:translateX(-200%);
        animation:deslizar 2s ease .6s forwards;               
    }
    &__saludo-1, &__saludo-2{
        font-size: var(--font-size-3);
        color:var(--color-blanco);
        display:block;
        font-weight: var(--font-weight-normal);
        text-transform:uppercase;
    }
    &__saludo-1{
        letter-spacing: 1.5rem; 
        margin-bottom:2rem;  
        padding-bottom:.1rem;
    }    
    &__saludo-2{
        letter-spacing: 1.2rem;
    } 
    &__photo{
        clip-path: circle( );
        background-color:var(--color-blanco);
        width:calc(100vw / 4 );
        height:20rem;
        position:absolute;
        top:10rem;  
        right:10rem;   
        background-image:url('https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U');
        background-size:contain;
        background-position:center; 
        border:.1rem solid red;
    } 
}   
 