@import '../abstract/mixins';
@import '../abstract/variable';
.aboutme {
  &__title {
    @include title;
  } 
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 8rem;
    padding-bottom: 2rem;
    &-info {
      text-align: justify;
      font-size: 2rem;
      padding: 5rem;
      width: 60rem;
      box-shadow: $box-shadow;
      transition:transform .5s ease-in;
      & span{
        font-weight: 600;
      }
      &:hover{   
        transform:scale(1.01);        
      }
    }      
    &-photo img {
        border-radius: 9.5rem;   
      width: 25rem;
    } 
  }    
    
}  
    