@import "../abstract/mixins";
@import "../abstract/variable";
@import "../abstract/breakpoints";

.aboutme {
  &__title {
    @media screen and (max-width: $screen-xxsm) {
      font-size: $font-size-cellphone-xxl;
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 10rem;
    padding-bottom: 2rem;
    @media screen and (max-width: $screen-md) {
      flex-direction: column-reverse;
      height: unset;
    }

    &-info {
      text-align: justify;
      font-size: 2rem;
      padding: 3rem;
      width: 60rem;
      box-shadow: $box-shadow;
      transition: transform 0.3s linear;
      & span {
        font-weight: 600;
      }
      &:hover {
        transform: scale(1.1);
      }
      @media screen and (max-width: $screen-sm) {
        width: 70vw;
      }
      @media screen and (max-width: $screen-xxsm) {
        font-size: $font-size-cellphone-md;
      }
    }
    &-photo img {
      border-radius: 9.5rem;
      width: 25rem;
      @media screen and (max-width: $screen-md) {
        width: 20rem;
        margin-bottom: 4rem;
      }
    }
  }
}
  