@import "../abstract/variable";
@import "../abstract/breakpoints";

.projects {
  margin-bottom: 10rem;
  &__title {
    @media screen and (max-width: $screen-xxsm) {
      font-size: $font-size-cellphone-xxl;
    }
  }
  &__card {
    height: 17rem;
    box-shadow: $box-shadow;

    & div {
      margin-bottom: 2rem;
      @media screen and (max-width: $screen-xxsm) {
        font-size: $font-size-cellphone-md;
      }
    }
    &-back {
      transform: rotateY(180deg);
      background-color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $screen-xxsm) {
        font-size: $font-size-cellphone-md;
      }
      & a {
        text-decoration: none;
        color: $color-blanco;
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 4rem;
    height: 40rem;
    @media screen and (max-width: $screen-md) {
      grid-template-columns: repeat(2, 1fr);
      height: 80rem;
    }
    &__container {
      perspective: 150rem;
      position: relative;
      &-card {
        height: 17rem;
        box-shadow: $box-shadow;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: transform 1s ease;
      }
      &:hover &-card-front {
        transform: rotateY(180deg);
      }
      &:hover &-card-back {
        transform: rotateY(360deg);
      }
    }
  }
  &__tecnologiesUsed {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @media screen and (max-width: $screen-xxsm) {
      grid-template-columns: repeat(2, 1fr);
    }
    & span img {
      width: 4rem;
      @media screen and (max-width: $screen-xxsm) {
        width: 2.5rem;
      }
    }
  }
}
