@import "../abstract/variable";
@import "../abstract/mixins";

.tecnologies {
  margin-bottom: 4rem;
  &__card {
    height: 28rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    & span {
      @include subTitle {   
        display: block;
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
