@import "../abstract/variable";
@import "../abstract/mixins";
@import "../abstract/animations";
@import "../abstract/breakpoints";

.tecnologies {
  margin-bottom: 10rem;
  &__title {
    @media screen and (max-width: $screen-xxsm) {
      font-size: $font-size-cellphone-xxl;
    }
  }
  &__card {
    opacity: 0;
    width: auto;
    height: 28rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    position: relative;
    & span {
      @include subTitle {
        display: block;
      }
      @media screen and (max-width: $screen-md) {
        font-size: $font-size-cellphone-md;
      }
      @media screen and (max-width: $screen-xsm) {
        padding: unset;
      }
    }
    &-img {
      width: 15rem;

      @media screen and (max-width: $screen-lg) {
        width: 11rem;
      }
      @media screen and (max-width: $screen-sm) {
        width: 5rem;
      }
    }
    @media screen and (max-width: $screen-sm) {
      height: 14rem;
    }
  }
  &__fade_in {
    position: relative;
    animation: fade_in 1s ease forwards;
  }
  &__fade_out {
    position: relative;
    animation: fade_out 1s ease forwards;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 9rem;
    @media screen and (max-width: $screen-sm) {
      gap: unset;
    }
    @media screen and (max-width: $screen-xsm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $screen-xxxsm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
